@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    display: flex;
    /* padding-top: 4px; */
    justify-content: center;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    /* background: transparent; */
    /* background-color: cornflowerblue; */
    gap: .50rem;
}


.btn span:first-child {
    transform: translateY(-1px)  rotate(45deg);
}
.btn span:nth-child(2) {
    opacity: 0;
}
.btn span:last-child {
    transform: translateY(0px) rotate(-45deg);
}


.btn-f span:first-child {
    transform: rotate(0deg);
}
.btn-f span:nth-child(2) {
    opacity: 1;
}
.btn-f span:last-child {
    transform: rotate(0deg);
}
