@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    display: flex;
    padding-top: 4px;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    
    gap: .55rem;
}


.btn span:first-child {
    transform: rotate(44deg);
}
.btn span:nth-child(2) {
    opacity: 0;
}
.btn span:last-child {
    transform: rotate(-44deg);
}


.btn-f span:first-child {
    transform: rotate(0deg);
}
.btn-f span:nth-child(2) {
    opacity: 1;
}
.btn-f span:last-child {
    transform: rotate(0deg);
}
